body, html {
  padding: 0;
  margin: 0;
  background-color: #333;
}

/* Welcome Page with the Start Game Button */

.welcome-page {
  text-align: center;
  background-color: aquamarine;
  margin: 30px;
}

.welcome-page h1 {
  margin-top: 10px;
  background-color: #333;
  color: lightgrey;
}

.welcome-page button {
  margin-top: 100px;
  margin-bottom: 10px;
}

.start-game-button {
  background-color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
}

.start-game-button:hover {
  opacity: 0.8;
}

/* Game Over */
.game-over {
  display: none;
  text-align: center;
  margin-top: 15px;
  color: lightgrey;
}

/* Timer */

.start-game-timer-output {
  background-color: black;
  padding: 20px;
  color: white;
  visibility: hidden;
}

/* Actual Game Mode */

.game {
  text-align: center;
  background-color: yellow;
  padding: 5px;
  margin-top: 45px;
  display: none;
}

.hr {
  position: relative;
  height: 8px;
  background-color: black;
}

.game-message {
  font-size: 1.1em;
}

/* Opponent and Player CSS */

.player {
  background-color: red;
  color: white;
  padding: 120px;
}

.opponent,
.opponent-two,
.opponent-three,
.opponent-four,
.opponent-five {
  background-color: white;
  padding: 120px;
}

.opponent-two,
.opponent-three,
.opponent-four,
.opponent-five {
  display: none;
}

.normal-attack-button-two,
.normal-attack-button-three,
.normal-attack-button-four,
.normal-attack-button-five {
  display: none;
}
